.container {
      height: 100%;
      width: 100vw;
      display: flex;
      position: relative;
      padding-top: 15rem;
      justify-content: center;
      flex-direction: row;
}

/* @media screen and (max-width: 768px) {

      .container {
            padding-top: 0;
            background-color: red;
      }

} */