.container {
      height: 100vh;
      width: 100vw;
      background-image: url("../public/assets/destination/background-destination-desktop.jpg");
      background-size: cover;
      background-repeat: no-repeat;

}

.sectionTitle {
      color: white;
      text-transform: uppercase;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 24px;
      position: absolute;
      margin-top: 13rem;
      margin-left: calc(5rem + 5vw);
      opacity: 0.7;
      left: 0;
      top: 0;
}

.sectionTitle::before {
      content: "01";
      margin-right: 17px;
      opacity: 0.4;
}

.sectionLeft,
.sectionRight {
      width: 100%;
      height: 100%;

}

.sectionLeft {
      display: flex;
      justify-content: center;
      align-items: center;
}

.sectionRight {
      padding-top: 30px;
}

.planetNav {
      display: flex;
      gap: 30px;
      height: 2rem;
}

.planetNav ul {

      text-transform: uppercase;
      height: 100%;
      color: white;
      opacity: 0.6;
      transition: 0.2s border-bottom ease-in-out, color 0.2s ease-in-out;
}

.planetNav ul:hover {

      border-bottom: 2px solid white;
      cursor: pointer;
      opacity: 0.9;
}


.sectionLeft img {
      scale: 0.75;
}