@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
      font-family: 'Barlow Condensed';
      src: url('/public/assets/fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf') format('true-type');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
}

@font-face {
      font-family: 'Bellefair';
      src: url('/public/assets/fonts/Bellefair/Bellefair-Regular.ttf') format('true-type');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
}



.navtext {

      font-size: 16px;
      letter-spacing: 2.7px;
      color: white;
}