.header {
      display: flex;
      justify-content: space-between;
      margin-top: 2.5rem;
      position: fixed;
      width: 100%;
      align-items: center;
      font-family: "Barlow Condensed";
      height: 5.8rem;
      z-index: 1;

}

.navbar {
      color: white;
      font-family: "Barlow Condensed", sans-serif;
      letter-spacing: 2.7px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 35px;
      backdrop-filter: blur(20px);
      background-color: rgba(225, 225, 225, 0.05);
      width: 60%;
}

.navlink {
      height: 100%;
      text-align: center;
      padding: 34px 2px;
      text-justify: center;
      position: relative;
      font-size: 14px;
      transition: border-bottom 0.3s ease-in-out;
      font-weight: 100;
}

.navlink:hover {
      border-bottom: 2px solid white;
}

.active {
      border-bottom: 2px solid white;
      height: 100%;
      text-align: center;
      padding: 34px 2px;
      text-justify: center;
      position: relative;
      font-size: 14px;
      transition: border-bottom 0.3s ease-in-out;
      font-weight: 100;
}

.stroke {
      position: absolute;
      height: 1px;
      width: 26rem;
      background-color: rgba(225, 225, 225, 0.25);
      left: 11vw;
      z-index: 1;
}

.navlink:nth-of-type(1)::before {
      content: "00";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.active:nth-of-type(1)::before {
      content: "00";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.navlink:nth-of-type(2)::before {
      content: "01";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.active:nth-of-type(2)::before {
      content: "01";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.navlink:nth-of-type(3)::before {
      content: "02";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.active:nth-of-type(3)::before {
      content: "02";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.navlink:nth-of-type(4)::before {
      content: "03";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}

.active:nth-of-type(4)::before {
      content: "03";
      height: 100%;
      width: 100%;
      margin-right: 8px;
      font-weight: bold;
}