.container {
      position: relative;
      height: 100%;
      width: 100vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../public/assets/home/background-home-desktop.jpg")
}

@media screen and (max-width: 900px) {

      .container {

            background-image: url("../public/assets/home/background-home-tablet.jpg")
      }

}

@media screen and (max-width: 500px) {

      .container {

            background-image: url("../public/assets/home/background-home-mobile.jpg")
      }
}