.container {
      height: 100vh;
      width: 100vw;
      background-image: url("../public/assets/technology/background-technology-desktop.jpg");
      background-size: 110% 110%;
      background-repeat: no-repeat;

}

.sectionTitle {
      color: white;
      text-transform: uppercase;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 24px;
      position: absolute;
      margin-top: 12rem;
      margin-left: calc(5rem + 5vw);
      opacity: 1;
      left: 0;
      top: 0;
}

.sectionTitle::before {
      content: "03";
      margin-right: 17px;
      opacity: 0.6;
}



.sectionLeft {
      display: flex;
      flex-direction: row;
      width: 65%;
      padding: 0 calc(4rem + 5vw);
      gap: 40px;
}

.sectionRight {
      width: 45%;
      height: 90%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
}

.sectionRight img {
      scale: 1.3;
}

.list {

      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 28px;
}

.listelement {
      border: 1px solid rgba(255, 255, 255, 0.5);
      font-size: 1.4rem;
      color: white;
      height: calc(2rem + 2.5vw);
      width: calc(2rem + 2.5vw);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
}

.listelement:hover {
      cursor: pointer;
}

.listelementActive {
      background-color: white;
      color: #0B0D17;
}

.subsectionLeft {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 30px;
      gap: 5px;
      padding-top: 40px;
}

.subtitleLeft {
      color: white;
      opacity: 0.5;
      text-transform: uppercase;

}

.titleMain {
      font-size: 3rem;
      color: white;
      text-transform: uppercase;
}

.paragraph {
      color: white;
      opacity: 0.5;
      line-height: 1.8;
      width: 92%;
      height: 12rem;

}

@media screen and (max-width: 768px) {


      .container {

            background-image: url("../public/assets/technology/background-technology-tablet.jpg");
            display: flex;
            justify-content: center;
            background-size: 100% 100%;


      }

      .sectionTitle {
            margin-top: 8rem;
            margin-left: calc(2rem + 2vw);
            font-size: 20px;
      }


      .reverse {
            flex-direction: column-reverse !important;
      }


      .sectionLeft,
      .sectionRight {
            width: 100%;
      }

      .sectionLeft {
            display: flex;
            flex-direction: column;
            padding: 0;
            gap: 40px;
            justify-content: center;
            align-items: center;
            height: 60%;
            margin-top: 20px;
      }

      .sectionRight {
            height: 40%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
      }

      .sectionRight img {
            scale: 1;
      }

      .list {
            height: auto;
            flex-direction: row;

      }


      .subsectionLeft {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-left: 0;
            gap: 5px;
            padding-top: 0;
            align-items: center;
      }

      .subtitleLeft {

            text-align: center;

      }

      .titleMain {

            text-align: center;
      }

      .paragraph {

            text-align: center;
            width: 60%;


      }



}